:root {
    /* cores */
    --primary_color: #BC13FE;
    --primaryLight_color: rgba(221, 142, 255, 0.458);
    --secondary_color: #00FFFF;
    --secondaryLight_color: #0ff0fc74;
    --neutral_color: #040a1b; /* alterei achei melhor */
    --cards_color: #1A191B;
    --borderCards_color: rgb(255 255 255 / 0.05);
    --cell_color: #262627;
    --light_color: #ffffff;
    --teste: #050A18;
    --bgPost_color: #201F21;
    
    /* fonts */
    --fontPrimary: "Space Grotesk", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
    

}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--neutral_color);
    position: relative;
    color: #ffffff;
    font-family: var(--fontPrimary);
    z-index: 2;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/* ======================================================================================
                                        Page FEED
========================================================================================*/
/* Header */
.header_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    box-shadow: 0 0 10px var(--primary_color);
    /*  */
    flex-shrink: 0;

    .upBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .6rem;
        padding: 1rem;
        
        .header_logo {

            h1 {
                font-size: 1rem;
                color: var(--primary_color);
            }
        }
    
        .header_search {
    
            input {
                padding: 0.5rem;
                background-color: var(--cell_color);
                border: none;
                border-radius: 4px;
                color: var(--secondary_color);
                outline: none;
    
    
            }
        }
    
        .header_notifIcon {
    
            img {
                width: 28px;
                height: 28px;
            }
        }
    
        .header_configIcon {
    
            img {
                width: 28px;
                height: 28px;
            }
    
        }
    
        .header_user_avatar {
    
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                border: 1px solid var(--secondary_color) ;
                
            }
        }
    }

/* ======================================================================================
                                        STORIES - FEED
========================================================================================*/
    .stories {
        width: 100%;
        display: flex;
        gap: 0.9rem;
        overflow-x: auto;
        padding: 0.8rem;

        .story {
            min-width: 70px;
            height: 70px;
            border-radius: 50%;
            padding: 3px;
            flex-shrink: 0;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                border: 2px solid #111;
            }

            &.unseen {
            background: linear-gradient(45deg, #ff00cc, #00ffff);
            }
            &.seen {
                background: #555;
            }
        }
    }
    #storyViewer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-color: black;
        z-index: 99999;

        display: flex;
        justify-content: center;
        align-items: center;

        #storyImg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &.hidden {
            display: none;
        }
    }

}

/* ======================================================================================
                                        POST - FEED
========================================================================================*/
#feed {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 0.5rem;
    padding: .5rem;    
    flex-shrink: 1;
    scroll-snap-type: x mandatory;
    .post { 
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid rgba(200, 200, 200, 0.2);
        border-radius: 15px;
        min-width: 100%;


        .post_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: .5rem;
            
            .post_header-left {
                /* avatar + name user */
                display: flex;
                align-items: center;

                img {
                    border-radius: 50%;
                
                }
                span {
                    color: var(--light_color);
                    font-size: .8rem;
                    z-index: 4;
                    margin: .6rem;
                    text-transform: capitalize;
                }
            }


            .moreIcon { /* icone de Mais... */
                width: 30px;
                height: 30px;
                background-image: url(../assets/icons/moreWhite.png);
                background-size: contain;
            }
        }

    .post_body {
        display: flex;
        flex-direction: column;
        .post_img {
            color: white;
            scroll-snap-align: start;
            border-radius: 5px;
            width: 100%;
            padding-left: 0.5rem;
            
        }
        .post_side {
            .post_actions {
                margin: 0.6rem;
            }
        
            .post_captions {
                margin: 0.6rem;
                padding: 0 0 10px;
        
            }
            .comments {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                padding: 0.5rem;
                font-size: .9rem;
                overflow-y: auto;
                max-height: 120px;
                strong {
                    color: var(--primary_color);
                }
            }
            .input_submit {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 1rem;
                
                
                .comment_input {
                    margin: 0.5rem;
                    width: 100%;
                    height: 2rem;
                    border-radius: 6px;
                    border: none;
                    background-color: var(--cell_color);
                    color: var(--secondary_color);
                    padding: 0.5rem;
                }
                button {
                    text-align: center;
                    border-radius: 6px;
                    height: 2rem;
                    width: 20%;
                    border: 1px solid ;
                    background-color: var(--secondary_color);
                    margin: auto .5rem;
                }
            }
        }
    
        
    }
                
    }
    
    
}

/* ======================================================================================
                                        FOOTER - FEED
========================================================================================*/
footer {
    position: fixed;
    width: 100%;
    padding: .6rem;
    bottom: .5rem;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;


    .funcItem {
        width: 90%;
        padding: 0.2rem;
        opacity: 0.9;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: var(--cell_color);
        border-radius: 30px;
        border: 1px solid var(--borderCards_color);
        box-shadow: 0 0 10px var(--secondary_color);

        img {
            width: 30px;
            height: 30px;
        }
    }
}
/* ======================================================================================
                            RESPONSIVE STORIES
========================================================================================*/


/* ======================================================================================
                            RESPONSIVE  PAGE - FEED
========================================================================================*/
@media (min-width: 686px) {
    body {
        overflow-y: hidden;

        /*  */
        padding-left: 80px;
        
        
    
        .header_container {
            width: auto;
            height: auto;

            .upBar {
                width: 100%;

                .header_logo {
                    h1 {
                    

                    }
                }
                .header_search {

                    input {
                        min-width: 500px;

                    }
                }
                .header_notifIcon {

                    img {

                    }
                }
                .header_configIcon {

                    img {

                    }
                }
                .header_user_avatar {
                    img {
                        /* width: 60px;
                        height: 60px; */
                    }
                }

                .stories {
                    width: 100%;
                    left: 4rem;
                }
                
                
            }
        }

        #feed {
            overflow-x: auto;
            overflow-y: hidden;
            padding: .5rem 0 0 0 ;
            
            .post {
                min-width: 80%;
                /*  */
                
                
                .post_header {
                    width: 100%;
                    left: 2.5rem;
                }
                .post_img {
                    width: 100%;
                    height:auto;
                    object-fit: cover;    
                }
                .post_captions {
                    margin: .6rem .6rem 0 .6rem ;
                }
            }
        }
        footer {
            
            /*  */
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 80px;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .funcItem {
                border-radius: 0px;
                width: 100%;
                left: 2rem;
                padding: 1rem;

                /*  */
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                gap: 2rem;
                height: 100%;
                
                
                img {
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
}

@media (min-width: 1000px) {
    #feed {
        height: calc(100vh - 140px);
        align-items: center;

        .post {
            min-width: 100%;     
            max-width: 1000px;
            
            display: flex;
            flex-direction: column;
            height: calc(100vh - 160px);/*  */
            .post_header {
                .moreIcon {
                    margin-right: 1rem;
                }
            }
            .post_body {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                height: 100%;/*  */
                width: 100%;
                overflow: hidden;/*  */
                align-items: stretch;
                max-height: 100%;
                

                .post_img {
                    width: 70%;
                    height: 100%;
                    object-fit: cover;
                    max-height: none;
                    flex-shrink: 0;
                }
            
                .post_side {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    overflow: hidden;
                    border: 1px solid rgba(200, 200, 200, 0.2);
                    border-radius: 15px;
                    margin-right: .6rem;
            
                    
                }
            
                .comments {
                    overflow-y: auto;
                    flex: 1;
                }

            }
        
            
        }
    }
    
    
    

}