:root {
    /* cores */
    --primary_color: #BC13FE;
    --primaryLight_color: rgba(221, 142, 255, 0.458);
    --secondary_color: #00FFFF;
    --secondaryLight_color: #0ff0fc74;
    --neutral_color: #040a1b; /* alterei achei melhor */
    --cards_color: #1A191B;
    --borderCards_color: rgb(255 255 255 / 0.05);
    --cell_color: #262627;
    --light_color: #ffffff;
    --teste: #050A18;
    --bgPost_color: #201F21;
    
    /* fonts */
    --fontPrimary: "Space Grotesk", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    background-color: var(--neutral_color);
    position: relative;
    color: #ffffff;
    font-family: var(--fontPrimary);
    z-index: 2;
}

/* ======================================================================================
                                        Page FEED
========================================================================================*/
/* Header */


.header_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    
    box-shadow: 0 0 10px var(--primary_color);


    .upBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .6rem;
        padding: 1rem;
        

        .header_logo {

            h1 {
                font-size: 1rem;
                color: var(--primary_color);
            }
        }
    
        .header_search {
    
            input {
                padding: 0.5rem;
                background-color: var(--cell_color);
                border: none;
                border-radius: 4px;
                color: var(--secondary_color);
    
    
            }
        }
    
        .header_notifIcon {
    
            img {
                width: 28px;
                height: 28px;
            }
        }
    
        .header_configIcon {
    
            img {
                width: 28px;
                height: 28px;
            }
    
        }
    
        .header_user_avatar {
    
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                border: 1px solid var(--secondary_color) ;
                
            }
        }
    }

/* ======================================================================================
                                        STORIES - FEED
========================================================================================*/
    .stories {
        
        width: 100%;
        display: flex;
        gap: 0.9rem;
        overflow-x: auto;
        padding: 0.8rem;

        .story {
            min-width: 70px;
            height: 70px;
            border-radius: 50%;
            padding: 3px;
            flex-shrink: 0;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                border: 2px solid #111;
            }
    
        }
        .story.unseen {
            background: linear-gradient(45deg, #ff00cc, #00ffff);
        }
        .story.seen {
            background: #555;
        }
    }
}

/* ======================================================================================
                                        POSTS - FEED
========================================================================================*/
#feed {
    display: flex;
    overflow-x: auto;
    gap: 0.5rem;
    scroll-snap-type: x mandatory;
    
    .post_header {
        display: flex;
        align-items: center;
        margin: 0.6rem;
        
        img {
            border-radius: 50%;
        
        }
        span {
            color: var(--light_color);
            font-size: .8rem;
            z-index: 4;
            margin: .6rem;

        }

    }
    .post_img {
        color: white;
        scroll-snap-align: start;

    }

    .post_actions {
        margin: 0.6rem;
    }

    .post_captions {
        margin: 0.6rem;
        padding: 0 0 10px;

    }
}








/* ======================================================================================
                                        FOOTER - FEED
========================================================================================*/
footer {
    position: fixed;
    width: 100%;
    padding: .6rem;
    bottom: 3rem;
    display: flex;
    justify-content: space-around;

    .funcItem {
        width: 90%;
        padding: 0.4rem;
        opacity: 0.9;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: var(--cell_color);
        border-radius: 30px;
        border: 1px solid var(--borderCards_color);
        box-shadow: 0 0 10px var(--secondary_color);

        img {
            width: 50px;
            height: 50px;
        }
    }
}